<ion-view view-title="My Lullabies">
  <ion-content class="main">
    <h2>My Lullabies</h2>

    <div class="row">
      <div class="col col-33">
        <img src="img/icon_song1.png" id="sound-icon" ui-sref="app.record">
      </div>
      <div class="col col-33">
        <img src="img/icon_song2.png" id="sound-icon" ui-sref="app.record">
      </div>
      <div class="col col-33">
        <img src="img/icon_song3.png" id="sound-icon" ui-sref="app.record">
      </div>
    </div> 

  </ion-content>
</ion-view>
