<ion-view view-title="Playlist">
  <ion-content class="main">
    <h2>Rock-a-bye Baby</h2>

    <div class="row">
      <div class="col col-33"><button class="button" ng-click="play('mp3/hair-dryer.mp3')">Hair Dryer</button></div>
      <div class="col col-33"><button class="button" ng-click="play('mp3/fireplace.mp3')">Fireplace</button></div>
      <div class="col col-33"><button class="button" ng-click="play('mp3/stream.mp3')">Stream</button></div>
    </div>

    <div class="row">
      <div class="col col-33"><button class="button" ng-click="play('mp3/forest-rain.mp3')">Forest Rain</button></div>
      <div class="col col-33"><button class="button" ng-click="play('mp3/heavy-rain.mp3')">Heavy Rain</button></div>
      <div class="col col-33"><button class="button" ng-click="play('mp3/wind.mp3')">Wind</button></div>
    </div>

    <div class="row">
      <div class="col col-33"><button class="button" ng-click="play('mp3/')">Another</button></div>
      <div class="col col-33"><button class="button" ng-click="stop()">Stop</button></div>
      <div class="col col-33"><button class="button" ng-click="play('mp3/')">Another</button></div>
    </div>    

  </ion-content>
</ion-view>
