<ion-view view-title="Playlist">
  <ion-content class="main">
    <h2>Rock-a-bye Baby</h2>

    <div class="row">
      <div class="col col-33">
        <img ng-src="{{image1}}" id="sound-icon" ng-click="play('mp3/hair-dryer.mp3', 'image1')">
      </div>
      <div class="col col-33">
        <img ng-src="{{image2}}" id="sound-icon" ng-click="play('mp3/stream.mp3', 'image2')">
      </div>
      <div class="col col-33"> 
        <img ng-src="{{image3}}" id="sound-icon" ng-click="play('mp3/heavy-rain.mp3', 'image3')">
      </div>  
    </div>

    <div class="row">
      <div class="col col-33">
        <img ng-src="{{image4}}" id="sound-icon" ng-click="play('mp3/forest-rain.mp3', 'image4')">
      </div>
      <div class="col col-33">
        <img ng-src="{{image5}}" id="sound-icon" ng-click="play('mp3/heart.mp3', 'image5')">
      </div>
      <div class="col col-33"> 
        <img ng-src="{{image6}}" id="sound-icon" ng-click="play('mp3/thunderstorm.mp3', 'image6')">
      </div>  
    </div>

    <div class="row">
      <div class="col col-33">
        <img ng-src="{{image7}}" id="sound-icon" ng-click="play('mp3/fire.mp3', 'image7')">
      </div>
      <div class="col col-33">
        <img ng-src="img/icon_stop.png" id="sound-icon" ng-click="stop()">
      </div>
      <div class="col col-33"> 
        <img ng-src="{{image8}}" id="sound-icon" ng-click="play('mp3/heavy-rain.mp3', 'image8')">
      </div>  
    </div>    

  </ion-content>
</ion-view>
