<ion-view view-title="Playlists">
  <ion-content>
    <h1>Rock-a-bye Baby</h1>
    <button class="button" ng-click="play('mp3/hair-dryer.mp3')">Hair Dryer</button>
    <button class="button" ng-click="play('mp3/fireplace.mp3')">Fireplace</button>
    <button class="button" ng-click="play('mp3/stream.mp3')">Stream</button>
    <button class="button" ng-click="play('mp3/forest-rain.mp3')">Forest Rain</button>
    <button class="button" ng-click="play('mp3/heavy-rain.mp3')">Heavy Rain</button>
    <button class="button" ng-click="play('mp3/thunderstorm.mp3')">Thunderstorm</button>
    <button class="button" ng-click="play('mp3/wind.mp3')">Wind</button>
    <button class="button" ng-click="stop()">Stop</button>

  </ion-content>
</ion-view>
