/* Empty. Add your own CSS if you like */

h2 {
  padding: 15px;
  text-align: center;
  color: #fff;
  font-family: 'Handlee', cursive;
}

h1 {
  color: #fff;
}

#currentuser {
  text-align: center;
}

.button {
  color: #42454A;
}

p {
  color: #fff;
  font-family: 'Handlee', cursive; 
  font-size: 20px;
  line-height: 30px;
  padding: 15px;
  background-color: #2C8BDE;
}


.main {
  background-image: url("../img/starry_night.png");
  background-color: #2C8BDE;
  background-size: cover;
  background-repeat: no-repeat;
}

ion-item.item, .item-complex .item-content, ion-header-bar.bar, .ionic-scroll {
  background-color: #2C8BDE;
  color: #fff;
  border: #000;
}

#sound-icon {
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

#sound-icon:active {
  border: 1px solid #2C8BDE;
}

#microphone {
  display: block;
  margin: 0 auto 30px auto;
  border-bottom: 5px solid #42454A;
  width: 50%;
  height: auto;
}
