/* Empty. Add your own CSS if you like */

h1, h2 {
  padding: 15px;
  text-align: center;
  color: #fff;
  font-family: 'Handlee', cursive;
}

#currentuser {
  text-align: center;
}

p {
  color: #fff;
  font-family: 'Handlee', cursive; 
  font-size: 20px;
  line-height: 30px;
  padding: 15px;
  background-color: #2C8BDE;
}


.main {
  background-image: url("../img/starry_night.png");
  background-color: #2C8BDE;
  background-size: cover;
  background-repeat: no-repeat;
}

ion-item.item, ion-content, .item-complex .item-content {
  background-color: #2C8BDE;
  color: #fff;
  border: #000;
}
